@model  CMSFrontend.Models.Collection
@using CMSFrontend.Helper
@{
    ViewBag.Title = "Edit";
}

<h2>EditCollection</h2>
<div class="container-fluid min-vh-100 w-50 justify-content-center" ng-controller="EditPageController" ng-init='initEdit(@Html.Json(Model))'>
    <form name="collectionForm" class="mb-3" ng-submit="UpdateCollection()" novalidate>
        <div class="mb-3">
            <label>Title:</label>
            <input type="text" class="form-control" name="title" ng-model="collection.title" placeholder="Title" required>
            <span class="text-danger" ng-show="collectionForm.$submitted && collectionForm.title.$dirty && collectionForm.title.$error.required">Title is required</span>
        </div>
        <div class="mb-3">
            <label>Description:</label>
            <textarea class="form-control" name="description" ng-model="collection.description" placeholder="Description" required></textarea>
            <span class="text-danger" ng-show="collectionForm.$submitted && collectionForm.description.$dirty && collectionForm.description.$error.required">Description is required</span>
        </div>
        <div class="mb-3">
            <label>Image URL:</label>
            <input type="text" class="form-control" name="image" ng-model="collection.image" placeholder="Image URL">
        </div>
        <div class="mb-3">
            <label>Link:</label>
            <input type="text" class="form-control" name="link" ng-model="collection.link" placeholder="Link">
        </div>
        <button class="d-grid btn btn-primary w-50 mx-auto" type="submit">Update</button>
    </form>
</div>
